section.advantages
  .container
    .content 
        .advantages__content-wrapper
            h2.subtitle.text-gradient Почему именно мы?
            .advantages__items
                .advantages__item 
                    img(src="./img/icons/advantages-1.svg", alt="").advantages__img
                    h3.little-title.advantages__little-title Экспертность
                    p.advantages__desc.desc ГРУППУ ВЕДУТ СРАЗУ 2 СПЕЦЕЦИАЛИСТА С ОПЫТОМ БОЛЕЕ 25 ЛЕТ
                .advantages__item 
                    img(src="./img/icons/advantages-1.svg", alt="").advantages__img
                    h3.little-title.advantages__little-title ИНДИВИДУАЛЬНАЯ РАБОТА С КАЖДЫМ
                    p.advantages__desc.desc ФОРМАТ ДИНАМИЧЕСКОЙ ГРУППЫ, НО ТАК КАК ГРУППА ОТ 8 ДО 12 ЧЕЛОВЕК, ТО КАЖДЫЙ РАЗБИРАЕТСЯ МАКСИМАЛЬНО ДЕТАЛЬНО
                .advantages__item 
                    img(src="./img/icons/advantages-1.svg", alt="").advantages__img
                    h3.little-title.advantages__little-title БЫСТРЫЙ РЕЗУЛЬТАТ
                    p.advantages__desc.desc КЛЮЧЕВОЙ ИНСТРУМЕНТ - ОБРАТНАЯ СВЯЗЬ. КОГДА ЛЮДИ ОТКРЫТО И ЧЕСТНО ГОВОРЯТ О МОИХ ПРОЯВЛЕНИЯХ, ЭТО САМЫЙ БЫСТРЫЙ ПУТЬ К УЗНАВАНИЮ СЕБЯ И ,ЗНАЧИТ, К МОИМ ИСТИННЫМ ЖЕЛАНИЯМ И, КАК СЛЕДСТВИЕ, К РЕЗУЛЬТАТАМ
