section.desc(id='description')
  .container
    .content 
        .desc__content-wrapper 
            img(src="./img/other/brain.png", alt="").desc__img
            .desc__title-wrapper 
                h2.subtitle Что это?
                img(src="./img/icons/desc-icon.png", alt="").desc__logo
            span.desc__text.desc МЕСЯЧНАЯ ПРОГРАММА, БЛАГОДАРЯ КОТОРОЙ ТЫ "ПЕРЕПРОШЬЕШЬ" СОБСТВЕННУЮ ЖИЗНЬ И СОЗДАШЬ СОВЕРШЕННО ИНЫЕ ДЛЯ СЕБЯ УСЛОВИЯ