section.desc
  .container
    .content 
        .desc__content-wrapper 
            img(src="./img/other/brain.png", alt="").desc__logo
            .desc__title-wrapper 
                h2.subtile.text-gradient Что это?
                img(src="./img/icons/desc-icon.png", alt="").desc__icon
            span.desc__text МЕСЯЧНАЯ ПРОГРАММА, БЛАГОДАРЯ КОТОРОЙ ТЫ "ПЕРЕПРОШЬЕШЬ" СОБСТВЕННУЮ ЖИЗНЬ И СОЗДАШЬ СОВЕРШЕННО ИНЫЕ ДЛЯ СЕБЯ УСЛОВИЯ