footer.footer 
    .container 
        .content 
            .footer__content-wrapper 
                .footer__tel-wrapper
                    img(src="./img/icons/desc-icon.png", alt="").footer__logo
                    a(href="tel:89819680162").footer__tel 8 (981) 968-01-62
                .foooter__social-wrapper.social
                    a(href="#").social__item
                        img(src="./img/social/social-1.svg", alt="").social__img
                    a(href="#").social__item
                        img(src="./img/social/social-2.svg", alt="").social__img
                    a(href="").social__item
                        img(src="./img/social/social-3.svg", alt="").social__img
                    a(href="").social__item
                        img(src="./img/social/social-4.svg", alt="").social__img


