section.form-page-page(id='form-page')
    .container 
        .content 
            .form-page__content-wrapper 
                h2.subtitle.form-page__title ОСТАВЬТЕ СВОИ КОНТАКТЫ И НАШ <br>
                    em.subtitle_white МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ:
                form.form.form-page__items-wrapper
                    input(type="text" placeholder="Имя" name="name").form-page__item
                    input(type="tel" placeholder="Телефон" name="phone").form-page__item
                    input(type="email" placeholder="E-Mail" name="email").form-page__item
                    p.form__errors
                    p.form__status
                    button.button.form-page__button Оставить заявку
    img(src="./img/other/figure-3.svg", alt="").form-page__figure
