section.form 
    .container 
        .content 
            .form__content-wrapper 
                h2.subtitle.form__title ОСТАВЬТЕ СВОИ КОНТАКТЫ И НАШ <br>
                    em.subtitle_white МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ:
                form.form__items-wrapper
                    input(type="text" placeholder="Имя").form__item
                    input(type="tel" placeholder="Телефон").form__item
                    input(type="email" placeholder="E-Mail").form__item
                    button.button.form__button Оставить заявку
    img(src="./img/other/figure-3.svg", alt="").form__figure
