section.hat 
  .container
    .content 
      .hat__content-position
        .hat__header
          .hat__menu.menu.text-gradient
            a(href="#description").menu__item О программе
            a(href="#team").menu__item Команда
            a(href="#tariffs").menu__item Тарифы
            a(href="#reviews").menu__item Отзывы
          .hat__contacts.contacts
            a(href="https://t.me/MetodTriggera" target="_blank").contacts__item
              img(src="./img/icons/tg.svg").contacts__icon
            a(href="https://wa.me/79819680162" target="_blank").contacts__item
              img(src="./img/icons/whatsapp.svg").contacts__icon
            a(href="#footer").contacts__item.button.button_transparent.contacts__button.text-gradient Контакты
        .hat__title-wrapper
          h1.hat__title.transparent-text Метод
            em.text-gradient.text-gradient_yellow Триггера
          .hat__title-desc.title-desc.text-gradient
            p.title-desc__item Как изменить свою жизнь за 3 шага
          .hat__links 
            a(href="#tariffs").button Сделать первый шаг
            a(href="#description").hat__more Подробнее
        
          
