section.result 
    .container 
        .content 
            .result__content-wrapper 
                h2.subtitle.subtitle_white ЧТО БУДЕТ В РЕЗУЛЬТАТЕ?
                .result__items-wrapper 
                    .result__item
                        img(src="./img/icons/result-1.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow РАСШИРЕНИЕ ОБЛАСТЕЙ СВОИХ ГРАНЕЙ
                    .result__item
                        img(src="./img/icons/result-2.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow ПОЛУЧЕНИЕ РЕШЕНИЙ НА ДАВНО ЗАДАННЫЕ ВОПРОСЫ
                    .result__item
                        img(src="./img/icons/result-3.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow ПРОКАЧЕННЫЙ ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ
                    .result__item
                        img(src="./img/icons/result-4.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow УВЕРЕННОСТЬ
                    .result__item
                        img(src="./img/icons/result-5.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow ПОНИМНИЕ, КТО ВЫ ЕСТЬ И ЧЕГО ХОТИТЕ
                    .result__item
                        img(src="./img/icons/result-6.png", alt="").result__icon
                        p.result__desc.desc.desc_yellow РЕГУЛЯЦИЯ СВОЕГО СОСТОЯНИЯ