section.reviews(id='reviews')
    .container 
        .content 
            .reviews__content-wrapper 
                h2.subtitle.subtitle_white Отзывы
                .owl-carousel.reviews__owl-carousel.owl-theme
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-5.jpg", alt="")
                            p.autor__name Максим
                        p.reviews__text «Для меня открылись глаза на мир, на жизнь, на бизнес, на отношения, никогда не пошел бы сам, но друг силой затащил.. я говорю ему спасибо - это изменило мою жизнь за 2 дня»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-2.jpg", alt="")
                            p.autor__name Мария
                        p.reviews__text «Шок шок шок... Я никогда не думала, что такие тренинги существуют. Это разрушение шаблонов и внутренняя свобода. Я словно переродилась!»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-3.jpg", alt="")
                            p.autor__name Валентина
                        p.reviews__text «У меня получилось по-другому чувствовать, иначе реагировать и понимать людей. Я обрела внутреннюю свободу и уверенность. Это волшебство. Сначала я создала то, что происходило у меня в жизни, прожила это - увидела и тут же стала менять.»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-4.jpg", alt="")
                            p.autor__name Евгения
                        p.reviews__text «Результаты меня ошеломили! Все в нашей голове, это правда. Такой окрыленной, как после этого двухдневного тренинга, я не была давно! Да, за один день не станешь совершенно другим человеком, но путь намечен, я поняла, над чем и как правильно работать, что менять. Благодарю Вас за то, что показали, какой я могу быть!»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-6.jpg", alt="")
                            p.autor__name Артём
                        p.reviews__text «Если у вас есть проблемы с постановкой жизненных целей и желаний, если вы не знаете, что конкретно хотите, или хотите все и сразу, то однозначно рекомендую Feedback. Благодаря экспертам и их тренингу сейчас я уверенно и целенаправленно иду к успеху, не сомневаюсь в этом ни секунды!»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-7.jpg", alt="")
                            p.autor__name Виктор
                        p.reviews__text «Группа помогла открыть глаза на очевидное, увидеть свои ошибки, поставить себя на место другого и понять, что он чувствует. Спектр эмоций: от гнева и раздражения до спокойного принятия ситуации и ясности. Непередаваемый опыт.»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-1.jpg", alt="")
                            p.autor__name Елизавета
                        p.reviews__text «Обратная связь помогла ответить на важные для меня вопросы, зарядила уверенностью и энергией. Благодарю Вас за создание такого проекта! Удивительный тренинг! Признаюсь, шла на него с некоторой долей сомнения.»
    img.reviews__figure(src="./img/other/figure-2.png", alt="")