section.reviews
    .container 
        .content 
            .reviews__content-wrapper 
                h2.subtitle.subtitle_white Отзывы
                .owl-carousel.reviews__owl-carousel.owl-theme
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-1.png", alt="")
                            p.autor__name Максим
                        p.reviews__text «Для меня открылись глаза на мир, на жизнь, на бизнес, на отношения, никогда не пошел бы сам, но друг силой затащил.. я говорю ему спасибо - это изменило мою жизнь за 2 дня»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-1.png", alt="")
                            p.autor__name Максим
                        p.reviews__text «Для меня открылись глаза на мир, на жизнь, на бизнес, на отношения, никогда не пошел бы сам, но друг силой затащил.. я говорю ему спасибо - это изменило мою жизнь за 2 дня»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-1.png", alt="")
                            p.autor__name Максим
                        p.reviews__text «Для меня открылись глаза на мир, на жизнь, на бизнес, на отношения, никогда не пошел бы сам, но друг силой затащил.. я говорю ему спасибо - это изменило мою жизнь за 2 дня»
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="./img/reviews/autor-1.png", alt="")
                            p.autor__name Максим
                        p.reviews__text «Для меня открылись глаза на мир, на жизнь, на бизнес, на отношения, никогда не пошел бы сам, но друг силой затащил.. я говорю ему спасибо - это изменило мою жизнь за 2 дня»
    img.reviews__figure(src="./img/other/figure-2.png", alt="")