section.reviews
    .container 
        .content 
            .reviews__content-wrapper 
                h2.subtitle.subtitle_white Отзывы
                .owl-carousel.reviews__owl-carousel.owl-theme
                    .reviews__item
                        .reviews__autor.autor 
                            img.autor__img(src="", alt="")
                            p.autor__name Максим