section.spheres-of-life
    .container 
        .content 
            .spheres-of-life__content-wrapper 
                h2.subtitle СФЕРЫ ЖИЗНИ, КОТОРЫЕ ТЫ МОЖЕШЬ УЛУЧШИТЬ:
                .owl-carousel.spheres-of-life__owl-carousel.owl-theme
                    div
                        .spheres-of-life__item
                            .spheres-of-life__img-wrapper 
                                img.spheres-of-life__img(src="./img/spheres-of-life/photo-1.png", alt="")
                            p.spheres-of-life__desc.text-gradient Личная жизнь
                    div
                        .spheres-of-life__item
                            .spheres-of-life__img-wrapper 
                                img.spheres-of-life__img(src="./img/spheres-of-life/photo-2.png", alt="")
                            p.spheres-of-life__desc.text-gradient Семья
                    div
                        .spheres-of-life__item
                            .spheres-of-life__img-wrapper 
                                img.spheres-of-life__img(src="./img/spheres-of-life/photo-3.png", alt="")
                            p.spheres-of-life__desc.text-gradient Бизнес
                    div
                        .spheres-of-life__item
                            .spheres-of-life__img-wrapper 
                                img.spheres-of-life__img(src="./img/spheres-of-life/photo-4.png", alt="")
                            p.spheres-of-life__desc.text-gradient Друзья
    img(src="./img/other/figure.png", alt="").spheres-of-life__figure