section.tariffs
    img.tariffs__figure(src="./img/icons/figure.svg", alt="")
    .container 
        .content 
            .tariffs__content-wrapper
                h2.subtitle(id="tariffs") 3 ШАГА ДЛЯ ПЕРЕМЕН В ЖИЗНИ
                .owl-carousel.tariffs__owl-carousel.owl-theme
                    .tariffs__item
                        div
                            .tariffs__title-wrapper
                                p.tariffs__num 1
                                h3.tariffs__title.subtitle TRIGGER Мотивация
                            ul.tariffs__services
                                li.tariffs__service Пройдите тест
                                li.tariffs__service Получите результаты
                                li.tariffs__service Получите скидку 50% на диагностику личности
                        p.tariffs__price.subtitle Бесплатно
                        a(href="#form-page").tariffs__button.button Начать
                    .tariffs__item
                        .tariffs__title-wrapper
                            p.tariffs__num 2
                            h3.tariffs__title.subtitle TRIGGER + Диагностика
                        ul.tariffs__services
                            li.tariffs__service Определим ваши:
                            ul.service__list
                                li.service__item Внутренние проблемы
                                li.service__item Потребности 
                                li.service__item Скрытые желания
                            li.tariffs__service Расскажем о методе
                            ul.service__list
                                li.service__item Решение проблем
                                li.service__item Удовлетворение потребностей
                                li.service__item Исполнения желаний
                        .tariffs__price-wrapper 
                            p.tariffs__price.tariffs__price_before 7000р.
                            p.tariffs__price.subtitle 3500р. 
                        p.tariffs__desc После прохождения 1 шага скидка 50%

                        a(href="#form-page").tariffs__button.button Оплатить
                    .tariffs__item
                        div
                            .tariffs__title-wrapper
                                p.tariffs__num 3
                                h3.tariffs__title.subtitle METOD TRIGGERA РЕШЕНИЕ
                            ul.tariffs__services
                            li.tariffs__service Консультации
                            ul.service__list
                                li.service__item Личные
                                li.service__item Онлайн
                            li.tariffs__service Трениги в группах
                            li.tariffs__service Чаты поддержки
                            li.tariffs__service ZOOM встречи
                            li.tariffs__service VIP-сопровождение
                        a(href="#form-page").tariffs__button.button Действовать

