section.tariffs
    img.tariffs__figure(src="./img/icons/figure.svg", alt="")
    .container 
        .content 
            .tariffs__content-wrapper
                h2.subtitle ТАРИФЫ
                .owl-carousel.tariffs__owl-carousel.owl-theme
                    .tariffs__item
                        .tariffs__title-wrapper
                            h3.tariffs__title.subtitle TRIGGER
                        ul.tariffs__services
                            li.tariffs__service Первичная консультация 1 час 
                            li.tariffs__service 2 дня группы 24 часа
                            li.tariffs__service Финишь группа (4 недели - Afterparty (c 19:00 - 23:00)
                            li.tariffs__service Чат Telegram с участниками группы и экспертами
                            li.tariffs__service.tariffs__service_no 3 ZOOM встречи
                            li.tariffs__service.tariffs__service_no Доступ в чат выпускников с экспертами
                            li.tariffs__service.tariffs__service_no Полный анализ, диагностика и разбор личности
                            li.tariffs__service.tariffs__service_no 5 консультаций в течение последующих 2 месяцев
                            li.tariffs__service.tariffs__service_no Еженедельный разбор жизненной ситуации в течение 2 месяцев
                            li.tariffs__service.tariffs__service_no Доступ в "FeedBack Club"
                        a(href="").tariffs__button.button Оставить заявку
                    .tariffs__item
                        .tariffs__title-wrapper
                            h3.tariffs__title.subtitle TRIGGER 
                            p.tariffs__type +
                        ul.tariffs__services
                            li.tariffs__service Первичная консультация 1 час 
                            li.tariffs__service 2 дня группы 24 часа
                            li.tariffs__service Финишь группа (4 недели - Afterparty (c 19:00 - 23:00)
                            li.tariffs__service Чат Telegram с участниками группы и экспертами
                            li.tariffs__service 3 ZOOM встречи
                            li.tariffs__service Доступ в чат выпускников с экспертами
                            li.tariffs__service.tariffs__service_no Полный анализ, диагностика и разбор личности
                            li.tariffs__service.tariffs__service_no 5 консультаций в течение последующих 2 месяцев
                            li.tariffs__service.tariffs__service_no Еженедельный разбор жизненной ситуации в течение 2 месяцев
                            li.tariffs__service.tariffs__service_no Доступ в "FeedBack Club"
                        a(href="").tariffs__button.button Оставить заявку
                    .tariffs__item
                        .tariffs__title-wrapper
                            h3.tariffs__title.subtitle TRIGGER 
                            p.tariffs__type VIP
                        ul.tariffs__services
                            li.tariffs__service Первичная консультация 1 час 
                            li.tariffs__service 2 дня группы 24 часа
                            li.tariffs__service Финишь группа (4 недели - Afterparty (c 19:00 - 23:00)
                            li.tariffs__service Чат Telegram с участниками группы и экспертами
                            li.tariffs__service 3 ZOOM встречи
                            li.tariffs__service Доступ в чат выпускников с экспертами
                            li.tariffs__service Полный анализ, диагностика и разбор личности
                            li.tariffs__service 5 консультаций в течение последующих 2 месяцев
                            li.tariffs__service Еженедельный разбор жизненной ситуации в течение 2 месяцев
                            li.tariffs__service Доступ в "FeedBack Club"
                        a(href="").tariffs__button.button Оставить заявку

