section.team(id='team')
    .container 
        .content 
            .team__content-wrapper
                h2.subtitle.subtitle_white КОМАНДА ПРОФЕССИОНАЛОВ
                .team__items-wrapper 
                    .team__item 
                        img.team__img(src="./img/team/photo-1.png", alt="")
                        h2.team__title.subtitle ГЕННАДИЙ <br>
                            em.subtitle.subtitle_white ГОЛУБЕВ
                        p.team__desc.desc ВРАЧ ПСИХОТЕРАПЕВТ, НЕВРОЛОГ, СЕКСОЛОГ. ПРАКТИЧЕСКИЙ ОПЫТ РАБОТЫ С 1993 ГОДА, В 2006 ГОДУ ВОШЕЛ В ШВЕЙЦАРСКУЮ ЭНЦИКЛОПЕДИЮ «WHO IS WHO». ЧЛЕН РОССИЙСКОЙ ПСИХОТЕРАПЕВТИЧЕСКОЙ АССОЦИАЦИИ. ЭКСПЕРТ РЯДА ПРОГРАММ НА ТЕЛЕВИДЕНИИ И ПЕЧАТНЫХ СМИ.
                    .team__item 
                        img.team__img(src="./img/team/photo-2.png", alt="")
                        h2.team__title.subtitle ИННА <br>
                            em.subtitle.subtitle_white ЗИКХЕР
                        p.team__desc.desc КЛИНИЧЕСКИЙ ПСИХОЛОГ. ПРАКТИКУЕТ КОГНИТИВНО - ПОВЕДЕНЧЕСКИЕ И ПРОВОКАЦИОННЫЕ МЕТОДЫ. ЧЛЕНЫ РОССИЙСКОЙ ПСИХОТЕРАПЕВТИЧЕСКОЙ АССОЦИАЦИИ. ПРАКТИЧЕСКИЙ ОПЫТ С 2014 ГОДА. ТРЕНЕР ГРУППОВЫХ ПРОГРАММ, СПЕЦИАЛИСТ В ОБЛАСТИ СЕМЕЙНЫХ И МЕЖЛИЧНОСТНЫХ ОТНОШЕНИЙ. БИЗНЕСЛЕДИ, ОСНОВАТЕЛЬ КОМПАНИИ FEEDBACK GROUP. МЕТОДОЛОГ И АВТОР ТРЕНЕРСКИХ ПРОГРАММ.