section.video 
    .container 
        .content
            .owl-carousel.video__owl-carousel.owl-theme
                .video__item
                    iframe(src="https://www.youtube.com/embed/5HsIDGPiXVY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__item
                    iframe(src="https://www.youtube.com/embed/DMEE0mfdMV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__item
                    iframe(src="https://www.youtube.com/embed/woe65gKkgBA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__item
                    iframe(src="https://www.youtube.com/embed/VDAtJtIJado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)