section.work 
  .container 
    .content 
      .work__content-wrapper
        .work__title-wrapper
          h2.subtitle.text-gradient Как мы работаем? 
        .owl-carousel.work__owl-carousel.owl-theme
          div
            .work__card.card
              img(src="./img/background/card-1.png", alt="").card__img
              span.card__num 01
              h3.card__principle.little-title КОНФИДЕНЦИАЛЬНОСТЬ
              p.card__desc.desc В ПРОГРАММЕ ДЕЙСТВУЕТ ПРИНЦИП ПОЛНОЙ АНОНИМНОСТИ. ВЫ ВПРАВЕ НЕ ГОВОРИТЬ СВОЕ ИМЯ, ВОЗРАСТ И СТАТУС
          div
            .work__card.card
              img(src="./img/background/card-2.png", alt="").card__img
              span.card__num 02
              h3.card__principle.little-title АКТУАЛЬНОСТЬ
              p.card__desc.desc РАБОТАЕМ ЛИШЬ С АКТУАЛЬНЫМ И ИНДИВИДУАЛЬНЫМ ЗАПРОСОМ
          div
            .work__card.card
              img(src="./img/background/card-3.png", alt="").card__img
              span.card__num 01
              h3.card__principle.little-title КОНФИДЕНЦИАЛЬНОСТЬ
              p.card__desc.desc ТОЛЬКО НАУЧНЫЙ ПОДХОД НА БАЗЕ ТАКИХ МЭТРОВ, КАК МЯСИЩЕВ, КАРВАСАРСКИЙ, КУРТ ЛЕВИН И ДР

