.footer
    padding: 80px 0 40px

    .social
        margin-top: 110px
        display: flex
        align-items: center
        justify-content: start
        &__item
            height: 50px
            width: 50px
            display: flex
            align-items: center
            justify-content: center 
            margin-right: 24px
        &__img
            height: 45px
            width: 45px
            z-index: 100
    &__tel-wrapper
        display: flex
        align-items: center
        justify-content: space-between
    &__tel
        font-size: 35px
        line-height: 41px
        text-decoration: none