// Modules
.button
  background: linear-gradient(to right, $yellow 30%, $white 100%)
  text-decoration: none
  font-size: 24px
  padding: 18px 50px
  border: none
  border-radius: 20px
  color: $black
  box-shadow: 0 0 30px -4px $yellow
  cursor: pointer
  outline: none
  transition: .3s
  &:hover
    transform: scale(1.05)
    transition: .3s
  &_transparent
    background: $transparent
    border: 3px solid #d6d4ae
    color: $orange
    padding: 12px 24px

  
.text-gradient
  background: linear-gradient(to bottom, $orange, $white)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  box-shadow: none
  &_yellow
    background: linear-gradient(to bottom, $yellow, $white)
    -webkit-background-clip: text
  -webkit-text-fill-color: transparent
    
.subtitle
  text-transform: uppercase
  background: linear-gradient(to bottom, $yellow, $white)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  box-shadow: none
  &_white
    background: linear-gradient(to bottom, $yellow 0%, $white 60%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-style: normal

.little-title
  font-weight: bold
  font-size: 18px
  line-height: 25px
  text-transform: uppercase
  color: $yellow
.desc
  font-weight: normal
  font-size: 15px
  line-height: 20px
  margin-top: 18px
  &_yellow
    color: $yellow


.owl-prev
  left: -30px
  transform: rotate(-45deg)
  &:hover
    transform: rotate(-45deg) scale(1.2)
.owl-next
  right: -20px
  transform: rotate(135deg)
  &:hover
    transform: rotate(135deg) scale(1.2)
.owl-prev, .owl-next
  top: 40%
  position: absolute
  bottom: 0
  margin: auto
  outline: none
  height: 35px
  width: 35px
  border: 3px solid $yellow !important
  border-bottom: none !important
  border-right: none !important
  border-radius: 0 !important
  transition: .2s
  &:hover
    background: transparent !important
    transition: .2s
  &:active
    border-color: #cdcfb0 !important
.disabled
  border-color: #b1b0b0 !important
  user-select: none
.owl-prev.disabled
  &:hover
    transform: rotate(-45deg) scale(1) !important
.owl-next.disabled
  &:hover
    transform: rotate(135deg) scale(1) !important


@include respond-to(md)
  .button
    padding: 10px 30px
    font-size: 20px
@include respond-to(sm)
  .button
    padding: 8px 24px
    font-size: 18px
    border-width: 2px
    box-shadow: 0 0 10px -4px $yellow
    
@media screen and ( max-width: 580px )
  .owl-prev, .owl-next
    top: calc( 100% + 20px )
  .owl-prev
    left: 30% !important
  .owl-next
    right: 30% !important
