doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document
  link(rel='stylesheet', href='css/main.css')
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap" rel="stylesheet")
body
  //= templates/hat.pug
  //= templates/desc.pug
  //= templates/work.pug
  //= templates/advantages.pug
  //= templates/tariffs.pug
  //= templates/spheres-of-life.pug
  
  script(src='js/main.js')
